include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include gnss_monitoring *.py
recursive-include tests *.py
recursive-include examples *.py *.ipynb
recursive-include docs *.md *.rst
global-exclude __pycache__
global-exclude *.py[co]
